<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%# Add tag for favicon below %>
    <%= favicon_link_tag "favicon.png" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <header>
      <%= render "layouts/navbar" %>
      <%= render "layouts/flash" %>
    </header>
    <main class="py-4">
      <div class="container">
          <%= yield %>
      </div>
    </main>
  </body>
</html>
